/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
}
b,
strong {
  font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'Conv_myriadpro-regular-webfont';
  src: url('../fonts/myriadpro-regular-webfont.eot');
  src: local('☺'), url('../fonts/myriadpro-regular-webfont.woff') format('woff'), url('../fonts/myriadpro-regular-webfont.ttf') format('truetype'), url('../fonts/myriadpro-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Conv_myriadpro-regular-webfont', Sans-Serif;
}
body * {
  letter-spacing: 1px;
}
body *:focus {
  outline: none;
}
.preloader {
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
}
.preloader img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.wrap {
  overflow: hidden;
}
.center {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* typography */
h1 {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fa0572;
  font-size: 40px;
  line-height: 40px;
}
@media screen and (max-width: 40em) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
h2 {
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}
@media screen and (max-width: 40em) {
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
}
/* mainheader */
.mainheader {
  position: relative;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/mainheader.jpg);
  padding: 76px 0px 25px 0px;
}
@media screen and (max-width: 40em) {
  .mainheader {
    padding-top: 25px;
  }
}
.mainheader__top {
  text-align: center;
}
.mainheader__top .nav {
  display: inline-block;
}
.mainheader__top .nav li {
  display: inline-block;
  margin: 0px 15px;
}
.mainheader__top .nav li a {
  text-decoration: none;
  color: #353535;
  font-size: 18px;
  text-transform: uppercase;
}
@media screen and (max-width: 40em) {
  .mainheader__top .nav li {
    display: block;
    margin: 0px 0px 20px 0px;
  }
}
.mainheader__top .phone {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #353535;
  font-size: 17px;
  white-space: nowrap;
}
@media screen and (max-width: 40em) {
  .mainheader__top .phone {
    white-space: normal;
  }
}
.mainheader__top .phone span {
  display: block;
  margin-bottom: 8px;
  font-size: 36px;
}
@media screen and (max-width: 64em) {
  .mainheader__top .phone {
    position: relative;
    margin-bottom: 30px;
  }
}
.mainheader__mid {
  padding: 207px 0px 80px 0px;
  text-align: center;
}
@media screen and (max-width: 40em) {
  .mainheader__mid {
    padding-top: 30px;
  }
}
.mainheader__mid .title {
  margin-bottom: 55px;
  color: #353535;
  font-size: 40px;
  line-height: 40px;
}
@media screen and (max-width: 40em) {
  .mainheader__mid .title {
    font-size: 26px;
    line-height: 30px;
  }
}
.mainheader__mid .btn a {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ef3d57;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.mainheader__mid .btn a:hover {
  background: #f51d3c;
}
.mainheader__bottom ul {
  display: block;
}
.mainheader__bottom ul li {
  display: block;
  text-align: center;
  color: #353535;
  font-size: 17px;
  margin-bottom: 20px;
}
/* content */
.block {
  padding: 50px 0px 50px 0px;
}
/* catalog */
.catalog .item {
  margin-bottom: 30px;
  text-align: center;
}
.catalog .item figure {
  text-align: center;
  margin-bottom: 30px;
}
.catalog .item figure img {
  display: block;
  width: 100%;
}
.catalog .item .descr {
  display: table;
  width: 170px;
  margin: 0 auto 25px auto;
}
.catalog .item .descr div {
  display: table-cell;
  vertical-align: middle;
}
.catalog .item .descr .price {
  padding-right: 10px;
  border-right: 1px solid #000;
  text-align: right;
}
.catalog .item .descr .price span {
  display: block;
  font-size: 21px;
  color: #000;
}
.catalog .item .descr .price .old_price {
  text-decoration: line-through;
}
.catalog .item .descr .price .current_price {
  color: #ff0000;
}
.catalog .item .descr .title {
  text-align: left;
  padding-left: 10px;
  color: #383838;
  font-size: 23px;
}
.catalog .item .btn {
  text-align: center;
}
.catalog .item .btn a {
  color: #FFF;
  display: inline-block;
  text-align: center;
  width: 170px;
  height: 41px;
  line-height: 41px;
  text-decoration: none;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  border-radius: 41px;
  font-size: 21px;
  text-transform: uppercase;
  background: #ff0024;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.catalog .item .btn a:hover {
  background: #fa0572;
}
/* save */
.save .item {
  margin-bottom: 37px;
  text-align: center;
}
.save .item figure {
  margin-bottom: 20px;
}
.save .item div {
  padding: 0px 10px;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}
/* video */
.video__wrap {
  margin-bottom: 30px;
}
.video .btn {
  text-align: center;
}
.video .btn a {
  display: inline-block;
  height: 72px;
  line-height: 72px;
  -webkit-border-radius: 72px;
  -moz-border-radius: 72px;
  border-radius: 72px;
  background: #25a91e;
  padding: 0px 20px;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.video .btn a:hover {
  background: #22961c;
}
/* review */
.review {
  position: relative;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/review.jpg);
  padding: 120px 0px 80px 0px;
}
@media screen and (max-width: 40em) {
  .review {
    padding-top: 80px;
  }
}
.review .item {
  text-align: center;
}
.review .item figure {
  margin-bottom: 40px;
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.review .item figure img {
  display: block;
  width: 100%;
}
.review .item div {
  color: #FFF;
  font-size: 30px;
  line-height: 40px;
}
@media screen and (max-width: 40em) {
  .review .item div {
    font-size: 24px;
    line-height: 30px;
  }
}
/* functions */
.functions {
  text-align: center;
}
.functions .img {
  margin-top: 30px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 65px;
}
.functions .item {
  margin-bottom: 50px;
}
.functions .item figure {
  text-align: center;
  height: 50px;
}
.functions .item div {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
/* steps */
.steps .item {
  color: #FFF;
  font-size: 16px;
  line-height: 22px;
  padding: 15px;
  position: relative;
  margin-bottom: 70px;
}
.steps .item:last-child {
  margin-bottom: 0px;
}
.steps .item .num {
  position: absolute;
  z-index: 0;
  top: -21px;
  width: 183px;
  height: 134px;
  text-align: center;
  line-height: 134px;
  color: #0084ff;
  font-size: 82px;
  padding-right: 15px;
}
@media screen and (max-width: 40em) {
  .steps .item .num {
    position: relative;
    margin: 0 auto -20px auto;
    top: -36px;
  }
}
.steps .item .descr {
  position: relative;
  z-index: 1;
  height: 155px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 40em) {
  .steps .item .descr {
    height: auto;
    display: block;
  }
}
.steps .item:nth-child(odd) {
  background: #006b7e;
  padding-left: 174px;
}
.steps .item:nth-child(odd) .num {
  background: url(../images/steps_1.png) no-repeat top center;
  left: 10px;
}
.steps .item:nth-child(even) {
  background: #2eacb3;
  padding-right: 205px;
}
.steps .item:nth-child(even) .num {
  background: url(../images/steps_2.png) no-repeat top center;
  right: 10px;
}
@media screen and (max-width: 40em) {
  .steps .item {
    padding: 15px!important;
  }
}
/* payment */
.payment .row {
  position: relative;
  background: url(../images/payment.jpg) no-repeat center center;
}
@media screen and (max-width: 40em) {
  .payment .row {
    background: none;
  }
}
.payment .item {
  text-align: center;
  color: #000;
}
@media screen and (max-width: 40em) {
  .payment .item {
    margin-bottom: 50px;
  }
  .payment .item:last-child {
    margin-bottom: 0px;
  }
}
.payment .item:first-child {
  height: 340px;
}
@media screen and (max-width: 40em) {
  .payment .item:first-child {
    height: auto;
  }
}
.payment .item .title {
  font-size: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 40em) {
  .payment .item .title {
    font-size: 24px;
    line-height: 30px;
  }
}
.payment .item .descr {
  font-size: 20px;
  line-height: 30px;
}
/* why */
@media screen and (min-width: 1000px) {
  .why {
    color: #FFF;
    font-size: 25px;
    line-height: 33px;
  }
  .why img {
    width: 100%;
  }
  .why .center div {
    width: 380px;
    height: 107px;
    right: 15px;
    position: absolute;
  }
  .why .center div span {
    display: table-cell;
    text-align: center;
    width: 380px;
    height: 107px;
    vertical-align: middle;
    padding: 0px 30px;
  }
  .why .title {
    position: absolute;
    left: 68px;
    top: 274px;
    font-size: 45px;
    width: 320px;
    text-align: center;
  }
  .why .text_1 {
    top: 0px;
  }
  .why .text_2 {
    top: 122px;
  }
  .why .text_3 {
    top: 243px;
  }
  .why .text_4 {
    top: 365px;
  }
  .why .text_5 {
    top: 486px;
  }
}
@media screen and (max-width: 999px) {
  .why {
    text-align: center;
  }
  .why img {
    display: none;
  }
  .why .title {
    color: #000;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .why div {
    width: 100%;
    padding: 20px 0px;
    color: #FFF;
    font-size: 25px;
    line-height: 33px;
  }
  .why div.text_1 {
    background: #ff8f23;
  }
  .why div.text_2 {
    background: #01ca9e;
  }
  .why div.text_3 {
    background: #3e99d2;
  }
  .why div.text_4 {
    background: #f96683;
  }
  .why div.text_5 {
    background: #faba24;
  }
}
/* form */
.form #form {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
.form #form div {
  position: relative;
}
.form #form .label {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 120px;
  height: 38px;
  text-align: center;
  background: #f2f2f2;
  border-right: 1px solid #e5e5e5;
}
@media screen and (max-width: 40em) {
  .form #form .label {
    width: 80px;
  }
}
.form #form .label img {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.form #form input {
  width: 100%;
  padding: 0px 10px 0px 140px;
  color: #9b9b9b;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  height: 40px;
  line-height: 100%;
}
.form #form input.error {
  border: 1px solid red;
}
.form #form .bottom {
  display: block;
  text-align: right;
  padding: 10px 0px;
  color: #d0d0d0;
  font-size: 12px;
}
.form #form article {
  text-align: center;
  padding-top: 30px;
}
.form #form article input {
  display: inline-block;
  width: auto;
  padding: 0px 15px 0px 15px;
  color: #FFF;
  font-size: 14px;
  border: none;
  height: 40px;
  line-height: 100%;
  background: #ff6666;
}
.form .responce {
  text-align: center;
  padding: 15px;
  display: none;
}
.form .responce_ok {
  color: green;
}
.form .responce_error {
  color: red;
}
/* footer */
.footer {
  background: #383838;
  padding: 50px 0px;
}
.footer article:first-child {
  font-size: 14px;
  line-height: 18px;
  color: #e3e3e3;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 40em) {
  .footer article:first-child {
    margin-bottom: 40px;
  }
}
.footer article:first-child ul {
  padding-top: 20px;
  display: inline-block;
}
.footer article:first-child ul li {
  display: inline-block;
  margin: 0px 5px;
}
.footer article:last-child ul li {
  font-size: 14px;
  line-height: 18px;
  color: #a9a9a9;
  margin-bottom: 10px;
}
.footer article:last-child ul li:last-child {
  margin-bottom: 0px;
}
.footer article:last-child ul li b {
  color: #e3e3e3;
  font-weight: bold;
}
.pr {
  position: relative;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
